# Srodowisko wirtualne
Lib/
Scripts/
include/
pyvenv.cfg

# Cache Pythona
__pycache__/
*.pyc
*.pyo

# PyCharm
.idea/

# Pytest
.pytest_cache/

# Build exe
dist/
build/
*.spec
*.exe

# Zapis gry (dane uzytkownika)
savegame.json